extends layout

block content
  if (toShow == null)
    h2 No instance to create
  else
    div(class="container")
        div(class="col-md-12")
        div(class="col-md-6 col-sm-8 col-xs-4")
            h2(class="text-primary")= title
        div(class="col-md-4")
            form(id='horseForm', action="/resource/horses", method="POST")
            div.form-group
                label(for='Name') horse Name: 
                input#Name(type='String', name='Name',class="form-control form-control-sm")
            div.form-group
                label(for='Cost') horse Cost: 
                input#author(type='String', name='Cost',class="form-control form-control-sm")
            div.form-group
                label(for='Size') horse Size: 
                input#season(type='number', name='Size',class="form-control form-control-sm")
            input(type="submit" class="btn btn-primary btn-sm")
        div(class="col-md-4")
    script.
        document.forms['horseForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
            document.getElementById("errors").style.display = "block"
            return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
            if (body.Name) {
                document.getElementById("errors").innerHTML = `${body.Name}  \n ${body.message}\n`;
                alert("Save Failed")
            } else {
                alert("Save succeded")
            }
            }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error)
            });
        });