extends layout
block content
 h1(class="text-success")= title
 - let horseid = toShow._id
 - let horseName = toShow.Name
 - let horseCost = toShow.Cost
 - let horseWeight = toShow.Weight
 div.row(class='mb-2')
   div.mr-1 ID is
   div #{horseid}
 - let actionid = "/resource/resource/horses/" + horseid
 form(id='horseForm', action= actionid, method="PUT")
  div.form-group
   label.horseAttr(for='Name') horse Name 
   input#horse_type(type='String', name='Name', value= horseName )
  div.form-group
    label.horseAttr(for='Cost') horse Cost
    input#Cost(type='String', name='Cost', value= horseCost )
  div.form-group
    label.horseAttr(for='Weight') horse Weight
    input#Weight(type='number', name='Weight', value= horseWeight )
    input(type="submit" class="btn btn-primary btn-sm")
 script.
  document.forms['horseForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
   method: 'PUT',
   body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
   alert("Update succeded")
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
   alert("Update failed " + error )
   });
  });